<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TITLE</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>


    <header class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="header">NO502ZHANG</a>
            </div>
            <nav id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a>文章</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="blog" class="container">
        <div class="row">
            <div class="col-sm-8" v-html="compiledMarkdown">
            </div>
            <div class="col-sm-4 sidebar">
                <blog-sidebar v-if="files.length > 0" name="文章" v-bind:items="files"></blog-sidebar>
                <blog-sidebar v-if="dirs.length > 0" name="目录" v-bind:items="dirs"></blog-sidebar>
            </div>
        </div>
    </div>
    <footer></footer>

    <template id="blog-sidebar-template">
        <div>
            <h4>{{ name }}</h4>
            <ul class="nav">
                <li v-for="item in items"><a :href="item.url">{{ item.name }}</a></li>
            </ul>
        </div>
    </template>

    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="public/js/marked.min.js"></script>
    <script src="public/js/index.js"></script>
</body>

</html>